.container {
  width: calc(100vw - 1rem);
  margin-bottom: 1rem;
}

.name,
.internal {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-efx-dark);
  margin: 1rem;
}

.internal {
  border: 1px solid var(--basic-borders);
  border-radius: 4px;
  padding: 2rem;
  background: white;
  display: flex;
  flex-direction: column;
}

.duration {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authors,
.authors_input_container {
  display: flex;
}

.authors {
  justify-content: space-between;
}

.authors_input_container {
  align-items: center;
  gap: 1rem;
}

.bottom_button {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 1rem;
}

.bottom_button button {
  padding: 0.8rem 3.5rem;
}
