.name,
.internal {
	font-family: 'Open Sans', sans-serif;
	color: var(--primary-efx-dark);
	margin: 1rem;
}

.internal {
	border: 1px solid var(--basic-borders);
	border-radius: 4px;
	padding: 2rem;
	background: white;
}

.description_header {
	font-size: 1.25rem;
	margin: 0rem;
}

.data {
	display: flex;
	gap: 1rem;
}

.description {
	padding-right: 1rem;
	border-right: 1px solid var(--basic-borders);
	width: 60%;
}

.meta {
	width: 20rem;
}

.bottom_button {
	display: flex;
	justify-content: flex-end;
	margin-right: 1rem;
}

.bottom_button button {
	padding: 0.8rem 3.5rem;
}
