.course_card {
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
	margin: 0rem 1rem 2rem 1rem;
	padding: 2rem;
	border-radius: 4px;
	border-left: 7px solid var(--primary-efx-dark);
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
	background: white;
}

.course_meta {
	width: 18rem;
}

.course_container {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
}

.course_content {
	width: calc(100% - 17rem);
	margin: 0rem;
	color: var(--primary-efx-dark);
}

.course_buttons {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-top: 2rem;
}

.course_buttons button {
	white-space: nowrap;
}

.iconbutton {
	padding: 0.5rem 0.8rem;
}

.authors {
	overflow: hidden;
	word-wrap: none;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.authors,
.duration,
.date {
	color: var(--primary-efx-dark);
}

.course_name {
	margin: 0.2rem 0rem 1rem 0rem;
}
