* {
	font-family: 'Open Sans', sans-serif;
}

.label {
	display: block;
	font-weight: bold;
}

.input_container,
.input_container_required {
	display: inline-block;
}

.input_container::after {
	content: attr(data-requiredtext);
	visibility: hidden;
}

.input_container_required::after {
	content: attr(data-requiredtext);
	visibility: visible;
	display: inline-block;
	color: red;
}

.input,
.required_input {
	border-radius: 4px;
	border: 1px solid var(--basic-borders);
	color: var(--primary-efx-dark);
	padding: 13px 16px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.input:focus,
.required_input:focus {
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
	outline: none;
}

.required_input {
	border: 1px solid red;
}
