.button {
	border: none;
	border-radius: 4px;
	padding: 0.8125rem 2.25rem;
	color: white;
	background: var(--primary-fg);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
