.header {
	font-family: 'Open Sans', sans-serif;
	background: white;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
	display: flex;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
	padding: 1rem 2rem;
}

.profile_name {
	margin-right: 1rem;
	font-weight: 600;
	color: var(--primary-efx-dark);
}
