.author_item {
  display: flex;
  align-items: center;
}

.author_item_button {
  background: transparent;
  border: none;
  padding: 0px;
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 1rem 0rem 1rem 0.5rem;
}

.author_item_button:hover {
  cursor: pointer;
}

.author_item_button img {
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 1px;
}
