:root {
	--basic-borders: #cfcfcf;
	--primary-fg: #007298;
	--primary-efx-dark: #333e48;
	--base-bg: #f7f7f7;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/OpenSans-Regular.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/OpenSans-Bold.ttf');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/OpenSans-Italic.ttf');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/OpenSans-BoldItalic.ttf');
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/OpenSans-SemiBold.ttf');
	font-style: normal;
	font-weight: 600;
}
