.empty_course_list {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty_course_list div {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-efx-dark);
}
