.container {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin: 0px auto;
  padding: 84px 150px 57px 150px;
  width: 20rem;
  background: white;
  border: 1px solid #cfcfcf;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header,
.form>p,
.form a {
  text-align: center;
  color: var(--primary-efx-dark);
  text-decoration: none;
}
